@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Monoton&family=Open+Sans&family=Sono:wght@400;600;700&display=swap");

:root {
  --primary-black: #000;
  --secondary-black: #52525b;
  --light-gray: #737373;
  --light-gray-2: #f1f3f5;
}

.bg-gray {
  background: rgb(87, 94, 97);
  background: radial-gradient(
    circle,
    rgba(87, 94, 97, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
}

.bg-dark {
  background-color: var(--primary-black) !important;
}

.img-fluid {
  height: 100% !important;
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .img-fluid {
    height: 40rem !important;
    width: 60rem;
  }
}

.n-margin {
  margin-top: -10px;
}
.hover-img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.hover-img:not(:hover) {
  transform: scale(1);
  transition: all 0.4s ease-out;
}

.custom-sizing {
  height: 40rem;
}

.monoton-title {
  font-family: "Monoton", "Helvetica Neue";
}

.btn-primary {
  background-color: var(--primary-black);
  color: white;
  border: #000;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--secondary-black) !important;
  color: white;
  transition: all 0.3s;
}

footer {
  color: var(--light-gray);
}

a:link,
a:visited {
  color: white;
}

.bg-video {
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  opacity: 0.3;
}

video {
  min-width: 2500px !important;
}

.height-full {
  height: 1000px;
}

.text-light-gray {
  color: var(--light-gray) !important;
}
.border-dark-subtle {
  border-color: var(--light-gray) !important;
}

input,
select {
  background-color: var(--primary-black) !important;
  border-color: var(--light-gray) !important;
  color: white !important;
}

input::placeholder {
  color: var(--light-gray) !important;
}

.light-gray-hover:hover {
  background-color: #18181b !important;
}

.nav-item:hover {
  background: #27272a !important;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

.nav-item:not(hover) {
  background: var(--primary-black) !important;

  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

.active {
  background: #27272a !important;
  border-radius: 100px;
}
.dropdown-item.active {
  background: var(--light-gray) !important;
}
